@use "sass:math";
@use "reset";
@use "mixins";

:root {
  --green: #0f0;
  --green-box-shadow: 0 0 7px 1px rgb(0 255 0 / 69%);
  --sonar-size: 80vmin;
}

.sonar {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  animation: fadeInAnim 2000ms linear;
  animation-iteration-count: 1;
  background-color: #000;
}

.ping {
  width: 0;
  height: 0;
  border: 4px solid var(--green);
  border-radius: 50%;
  animation: pingAnim 4s linear infinite;
  animation-delay: 1s;
  opacity: 0;
}

.ring {
  position: absolute;
  border-radius: 50%;
  box-shadow: var(--green-box-shadow);

  &::after {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset var(--green-box-shadow);
    content: "";
  }
}

// Rings for the sonar
@mixin ring($percentage) {
  .radius-#{$percentage} {
    top: calc(50% - #{math.div($percentage, 2)}vmin);
    left: calc(50% - #{math.div($percentage, 2)}vmin);
    width: #{$percentage}vmin;
    height: #{$percentage}vmin;
  }
}

@include ring(20);
@include ring(40);
@include ring(60);
@include ring(80);

@include mixins.deg(45);
@include mixins.deg(90);
@include mixins.deg(135);

// The circling sweep
.sweep {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 40vmin;
  border-left: 1px solid var(--green);
  animation: rotateAnim 10s infinite;
  animation-timing-function: linear;
  transform-origin: top left;
}

// Cardinal and diagonal lines
.gridLine {
  position: absolute;
  top: 50%;
  width: 80vmin;
  box-shadow: var(--green-box-shadow);

  &::after {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset var(--green-box-shadow);
    content: "";
  }
}

// Ping animation
@keyframes pingAnim {
  0%,
  19% {
    opacity: 0;
  }

  20% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: var(--sonar-size);
    height: var(--sonar-size);
    opacity: 0;
  }
}

// Initial fade-in
@keyframes fadeInAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
