.link {
  position: fixed;
  top: 1rem;
  right: 1rem;

  display: flex;
  gap: 0.4rem;
  align-items: center;

  font-size: 20px;
  color: #ccc;
  text-decoration: none;
}

.githubMark {
  width: 32px;
  height: 32px;

  path {
    fill: #fff;
  }
}
